<!DOCTYPE html>
<html>
<head>
	<title>Time-pass</title>
	<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp" ng-controller="MainController">
	<center>
		<h4><b>{{ title }}</b></h4>
		<input type="text" name="add-course" placeholder="Add Course Name" id="addCoursesText">
		<button type="button" class="btn btn-primary" id="addCoursesButton" ng-click="addCourse()">Add Course</button>
		<button type="button" class="btn btn-default" id="closeButton" ng-click="close()"><b>X</b></button>
		<button class="btn btn-info" id="addCoursesDemo">Add course</button>
	</center>
	<table>
		<tbody>
			<tr>
				<th>Course Name</th>
				<th>No of Absents</th>
				<th>Add</th>
				<th>Sub</th>
				<!--<th>Del</th>-->
			</tr>
			<tr ng-repeat="course in courses track by $index">
				<td> {{ course.name }} </td>
				<td> {{ course.noOfAbsents }} </td>
				<td><button type="button" class="btn btn-danger" id="add-absent" ng-click="plusOne($index)">&#10010;</button></td>
				<td><button type="button" class="btn btn-success" id="removeAbsent" ng-click="minusOne($index)">&#10134;</button></td>
				<!--<td><button type="button" class="btn btn-default" id="removeCourse" ng-click="delOne($index)">&#10060;</button></td>-->
			</tr>
		</tbody>
	</table>
	<center>
		<button type="button" class="btn btn-info" id="resetPrompt">Reset All</button>
		<span class="resetAll"><b>Are you sure</b></span>
		<button type="button" class="btn btn-danger resetAll" ng-click="resetAll()" id="resetDone">&#10004;</button>
		<button type="button" class="btn btn-default resetAll" id="backToPrompt">&#10006;</button>
		<!--<button type="button" class="btn btn-danger resetAll" ng-click="resetAll()">Reset All</button>-->
	</center>
</body>
</html>